body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1370px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15374 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:231px;
  width:985px;
  height:285px;
}
#u15375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:40px;
}
#u15375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u15377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u15377 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:0px;
  width:295px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15378 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:291px;
  word-wrap:break-word;
}
#u15379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
}
#u15379 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:0px;
  width:342px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u15380 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u15381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:40px;
}
#u15381 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:343px;
  height:40px;
}
#u15382 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u15383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u15383 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:40px;
  width:295px;
  height:40px;
  color:#169BD5;
}
#u15384 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:291px;
  word-wrap:break-word;
}
#u15385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
}
#u15385 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:40px;
  width:342px;
  height:40px;
}
#u15386 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u15387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:40px;
}
#u15387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:343px;
  height:40px;
}
#u15388 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u15389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u15389 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:80px;
  width:295px;
  height:40px;
  color:#169BD5;
}
#u15390 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:291px;
  word-wrap:break-word;
}
#u15391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
}
#u15391 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:80px;
  width:342px;
  height:40px;
}
#u15392 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u15393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:40px;
}
#u15393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:343px;
  height:40px;
}
#u15394 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u15395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u15395 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:120px;
  width:295px;
  height:40px;
  color:#169BD5;
}
#u15396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:291px;
  word-wrap:break-word;
}
#u15397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
}
#u15397 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:120px;
  width:342px;
  height:40px;
}
#u15398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u15399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:40px;
}
#u15399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:343px;
  height:40px;
}
#u15400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u15401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u15401 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:160px;
  width:295px;
  height:40px;
  color:#169BD5;
}
#u15402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:291px;
  word-wrap:break-word;
}
#u15403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
}
#u15403 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:160px;
  width:342px;
  height:40px;
}
#u15404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u15405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:40px;
}
#u15405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:343px;
  height:40px;
}
#u15406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u15407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u15407 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:200px;
  width:295px;
  height:40px;
  color:#169BD5;
}
#u15408 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:291px;
  word-wrap:break-word;
}
#u15409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
}
#u15409 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:200px;
  width:342px;
  height:40px;
}
#u15410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u15411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:40px;
}
#u15411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:343px;
  height:40px;
}
#u15412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:339px;
  word-wrap:break-word;
}
#u15413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:40px;
}
#u15413 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:240px;
  width:295px;
  height:40px;
  color:#169BD5;
}
#u15414 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:291px;
  word-wrap:break-word;
}
#u15415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:40px;
}
#u15415 {
  border-width:0px;
  position:absolute;
  left:638px;
  top:240px;
  width:342px;
  height:40px;
}
#u15416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:338px;
  word-wrap:break-word;
}
#u15417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15417 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:168px;
  width:207px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u15418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u15420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:625px;
  background:inherit;
  background-color:rgba(216, 216, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u15420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:45px;
  width:230px;
  height:625px;
  color:#000000;
}
#u15421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:304px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15422 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:150px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15422_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15422.mouseOver {
}
#u15423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u15424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15424 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:78px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15424_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15424.mouseOver {
}
#u15424_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15424.selected {
}
#u15425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u15426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15426 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:114px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15426_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15426.mouseOver {
}
#u15426_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15426.selected {
}
#u15427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u15428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#656565;
  line-height:18px;
}
#u15428 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:82px;
  width:57px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#656565;
  line-height:18px;
}
#u15429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  white-space:nowrap;
}
#u15430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15430 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:292px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15430_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15430.mouseOver {
}
#u15431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u15432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15432 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:184px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15432_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15432.mouseOver {
}
#u15432_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15432.selected {
}
#u15433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u15434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15434 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:256px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15434_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15434.mouseOver {
}
#u15434_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15434.selected {
}
#u15435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u15436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15436 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:364px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15436_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15436.mouseOver {
}
#u15437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u15438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15438 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:220px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15438_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15438.mouseOver {
}
#u15438_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15438.selected {
}
#u15439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u15440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15440 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:328px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15440_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15440.mouseOver {
}
#u15440_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15440.selected {
}
#u15441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u15442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:50px;
}
#u15443 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15444 {
  border-width:0px;
  position:absolute;
  left:989px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15444_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15444.mouseOver {
}
#u15444_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15444.selected {
}
#u15445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u15446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15446 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15446_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15446.mouseOver {
}
#u15446_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15446.selected {
}
#u15447 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u15448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15448 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:16px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15448_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15448.mouseOver {
}
#u15448_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15448.selected {
}
#u15449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u15450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u15450 {
  border-width:0px;
  position:absolute;
  left:147px;
  top:11px;
  width:101px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u15451 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u15452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u15452 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:19px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u15452_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u15452.mouseOver {
}
#u15452_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u15452.selected {
}
#u15453 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u15454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15454 {
  border-width:0px;
  position:absolute;
  left:397px;
  top:16px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15454_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15454.mouseOver {
}
#u15454_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15454.selected {
}
#u15455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u15456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15456 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15456_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15456.mouseOver {
}
#u15456_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15456.selected {
}
#u15457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u15458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15458 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15458_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15458.mouseOver {
}
#u15458_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15458.selected {
}
#u15459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u15460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15460 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15460_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15460.mouseOver {
}
#u15460_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u15460.selected {
}
#u15461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u15462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
}
#u15462 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:8px;
  width:121px;
  height:33px;
}
#u15463 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u15464 {
  border-width:0px;
  position:absolute;
  left:1287px;
  top:19px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u15464_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u15464.mouseOver {
}
#u15464_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u15464.selected {
}
#u15465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u15466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15466 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:400px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15466_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u15466.mouseOver {
}
#u15467 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u15468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15468 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:168px;
  width:90px;
  height:31px;
}
#u15469 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
