body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1370px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5993 {
  position:absolute;
  left:318px;
  top:259px;
  width:990px;
  height:305px;
}
#u5994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u5994 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
  text-align:right;
}
#u5995 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u5996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u5996 {
  position:absolute;
  left:150px;
  top:0px;
  width:400px;
  height:50px;
}
#u5997 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:50px;
}
#u5998 {
  position:absolute;
  left:550px;
  top:0px;
  width:435px;
  height:50px;
}
#u5999 {
  position:absolute;
  left:2px;
  top:17px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u6000 {
  position:absolute;
  left:0px;
  top:50px;
  width:150px;
  height:50px;
  text-align:right;
}
#u6001 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u6002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u6002 {
  position:absolute;
  left:150px;
  top:50px;
  width:400px;
  height:50px;
}
#u6003 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:50px;
}
#u6004 {
  position:absolute;
  left:550px;
  top:50px;
  width:435px;
  height:50px;
}
#u6005 {
  position:absolute;
  left:2px;
  top:17px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u6006 {
  position:absolute;
  left:0px;
  top:100px;
  width:150px;
  height:50px;
  text-align:right;
}
#u6007 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u6008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u6008 {
  position:absolute;
  left:150px;
  top:100px;
  width:400px;
  height:50px;
  text-align:right;
}
#u6009 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:50px;
}
#u6010 {
  position:absolute;
  left:550px;
  top:100px;
  width:435px;
  height:50px;
  color:#FF0000;
  text-align:left;
}
#u6011 {
  position:absolute;
  left:2px;
  top:17px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u6012 {
  position:absolute;
  left:0px;
  top:150px;
  width:150px;
  height:50px;
  text-align:right;
}
#u6013 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u6014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u6014 {
  position:absolute;
  left:150px;
  top:150px;
  width:400px;
  height:50px;
}
#u6015 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:50px;
}
#u6016 {
  position:absolute;
  left:550px;
  top:150px;
  width:435px;
  height:50px;
}
#u6017 {
  position:absolute;
  left:2px;
  top:17px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u6018 {
  position:absolute;
  left:0px;
  top:200px;
  width:150px;
  height:50px;
  text-align:right;
}
#u6019 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u6020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u6020 {
  position:absolute;
  left:150px;
  top:200px;
  width:400px;
  height:50px;
}
#u6021 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:50px;
}
#u6022 {
  position:absolute;
  left:550px;
  top:200px;
  width:435px;
  height:50px;
}
#u6023 {
  position:absolute;
  left:2px;
  top:17px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u6024 {
  position:absolute;
  left:0px;
  top:250px;
  width:150px;
  height:50px;
  text-align:right;
}
#u6025 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  word-wrap:break-word;
}
#u6026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u6026 {
  position:absolute;
  left:150px;
  top:250px;
  width:400px;
  height:50px;
}
#u6027 {
  position:absolute;
  left:2px;
  top:17px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:50px;
}
#u6028 {
  position:absolute;
  left:550px;
  top:250px;
  width:435px;
  height:50px;
}
#u6029 {
  position:absolute;
  left:2px;
  top:17px;
  width:431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6030 {
  position:absolute;
  left:480px;
  top:269px;
  width:370px;
  height:30px;
}
#u6030_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u6031 {
  position:absolute;
  left:480px;
  top:369px;
  width:270px;
  height:30px;
}
#u6031_input {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u6031_input:disabled {
  color:grayText;
}
#u6032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u6034 {
  position:absolute;
  left:480px;
  top:469px;
  width:370px;
  height:32px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u6035 {
  position:absolute;
  left:10px;
  top:8px;
  width:352px;
  word-wrap:break-word;
}
#u6036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u6036 {
  position:absolute;
  left:494px;
  top:477px;
  width:18px;
  height:17px;
  font-size:14px;
}
#u6037 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6038 {
  position:absolute;
  left:480px;
  top:420px;
  width:370px;
  height:30px;
}
#u6038_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
}
#u6038_input:disabled {
  color:grayText;
}
#u6039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:230px;
}
#u6039 {
  position:absolute;
  left:398px;
  top:949px;
  width:496px;
  height:230px;
}
#u6040 {
  position:absolute;
  left:2px;
  top:107px;
  width:492px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6042 {
  position:absolute;
  left:494px;
  top:316px;
  width:89px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6043 {
  position:absolute;
  left:8px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u6044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6045 {
  position:absolute;
  left:480px;
  top:325px;
  width:14px;
  height:14px;
}
#u6046 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u6047 {
  position:absolute;
  left:483px;
  top:329px;
  width:8px;
  height:6px;
}
#u6048 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6050 {
  position:absolute;
  left:628px;
  top:316px;
  width:89px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6051 {
  position:absolute;
  left:8px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u6052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6053 {
  position:absolute;
  left:614px;
  top:325px;
  width:14px;
  height:14px;
}
#u6054 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6055 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6056 {
  position:absolute;
  left:751px;
  top:316px;
  width:89px;
  height:32px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6057 {
  position:absolute;
  left:8px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u6058 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6059 {
  position:absolute;
  left:737px;
  top:325px;
  width:14px;
  height:14px;
}
#u6060 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u6061 {
  position:absolute;
  left:1170px;
  top:299px;
  width:1px;
  height:16px;
}
#u6062 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u6063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u6064 {
  position:absolute;
  left:450px;
  top:169px;
  width:149px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u6064_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u6064.mouseOver {
}
#u6064_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u6064.selected {
}
#u6065 {
  position:absolute;
  left:2px;
  top:13px;
  width:145px;
  word-wrap:break-word;
}
#u6066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u6066 {
  position:absolute;
  left:300px;
  top:169px;
  width:149px;
  height:46px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u6066_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u6066.mouseOver {
}
#u6066_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(24, 144, 255, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:403;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u6066.selected {
}
#u6067 {
  position:absolute;
  left:2px;
  top:13px;
  width:145px;
  word-wrap:break-word;
}
#u6068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6069 {
  position:absolute;
  left:407px;
  top:1470px;
  width:100px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u6070 {
  position:absolute;
  left:16px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
#u6071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6071 {
  position:absolute;
  left:601px;
  top:1470px;
  width:109px;
  height:40px;
  font-family:'Microsoft Tai Le Regular', 'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6072 {
  position:absolute;
  left:16px;
  top:11px;
  width:77px;
  word-wrap:break-word;
}
#u6073 {
  position:absolute;
  left:480px;
  top:527px;
  width:655px;
  height:401px;
}
#u6073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:401px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:625px;
  background:inherit;
  background-color:rgba(216, 216, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u6075 {
  position:absolute;
  left:0px;
  top:45px;
  width:230px;
  height:625px;
  color:#000000;
}
#u6076 {
  position:absolute;
  left:2px;
  top:304px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
}
#u6077 {
  position:absolute;
  left:20px;
  top:150px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u6077_img.mouseOver {
}
#u6077.mouseOver {
}
#u6078 {
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u6079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
}
#u6079 {
  position:absolute;
  left:20px;
  top:78px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u6079_img.mouseOver {
}
#u6079.mouseOver {
}
#u6079_img.selected {
}
#u6079.selected {
}
#u6080 {
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u6081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
}
#u6081 {
  position:absolute;
  left:20px;
  top:114px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u6081_img.mouseOver {
}
#u6081.mouseOver {
}
#u6081_img.selected {
}
#u6081.selected {
}
#u6082 {
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u6083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#656565;
  line-height:18px;
}
#u6083 {
  position:absolute;
  left:260px;
  top:82px;
  width:57px;
  height:29px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#656565;
  line-height:18px;
}
#u6084 {
  position:absolute;
  left:0px;
  top:6px;
  width:57px;
  white-space:nowrap;
}
#u6085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
}
#u6085 {
  position:absolute;
  left:20px;
  top:292px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u6085_img.mouseOver {
}
#u6085.mouseOver {
}
#u6086 {
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u6087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
}
#u6087 {
  position:absolute;
  left:20px;
  top:184px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u6087_img.mouseOver {
}
#u6087.mouseOver {
}
#u6087_img.selected {
}
#u6087.selected {
}
#u6088 {
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u6089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
}
#u6089 {
  position:absolute;
  left:20px;
  top:256px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u6089_img.mouseOver {
}
#u6089.mouseOver {
}
#u6089_img.selected {
}
#u6089.selected {
}
#u6090 {
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u6091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
}
#u6091 {
  position:absolute;
  left:20px;
  top:364px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u6091_img.mouseOver {
}
#u6091.mouseOver {
}
#u6092 {
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u6093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
}
#u6093 {
  position:absolute;
  left:20px;
  top:220px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u6093_img.mouseOver {
}
#u6093.mouseOver {
}
#u6093_img.selected {
}
#u6093.selected {
}
#u6094 {
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u6095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:36px;
}
#u6095 {
  position:absolute;
  left:20px;
  top:328px;
  width:204px;
  height:36px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:22px;
}
#u6095_img.mouseOver {
}
#u6095.mouseOver {
}
#u6095_img.selected {
}
#u6095.selected {
}
#u6096 {
  position:absolute;
  left:2px;
  top:7px;
  width:200px;
  word-wrap:break-word;
}
#u6097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6097 {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:50px;
}
#u6098 {
  position:absolute;
  left:2px;
  top:17px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6099 {
  position:absolute;
  left:989px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6099_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6099.mouseOver {
}
#u6099_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6099.selected {
}
#u6100 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6101 {
  position:absolute;
  left:786px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6101_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6101.mouseOver {
}
#u6101_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6101.selected {
}
#u6102 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6103 {
  position:absolute;
  left:568px;
  top:16px;
  width:81px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6103_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6103.mouseOver {
}
#u6103_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6103.selected {
}
#u6104 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u6105 {
  position:absolute;
  left:147px;
  top:11px;
  width:101px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u6106 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u6107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6107 {
  position:absolute;
  left:1205px;
  top:19px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u6107_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6107.mouseOver {
}
#u6107_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6107.selected {
}
#u6108 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6109 {
  position:absolute;
  left:397px;
  top:16px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6109_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6109.mouseOver {
}
#u6109_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6109.selected {
}
#u6110 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6111 {
  position:absolute;
  left:888px;
  top:16px;
  width:65px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6111_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6111.mouseOver {
}
#u6111_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6111.selected {
}
#u6112 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6113 {
  position:absolute;
  left:685px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6113_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6113.mouseOver {
}
#u6113_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6113.selected {
}
#u6114 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6115 {
  position:absolute;
  left:466px;
  top:16px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6115_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6115.mouseOver {
}
#u6115_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6115.selected {
}
#u6116 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:33px;
}
#u6117 {
  position:absolute;
  left:6px;
  top:8px;
  width:121px;
  height:33px;
}
#u6118 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6119 {
  position:absolute;
  left:1287px;
  top:19px;
  width:53px;
  height:16px;
  font-size:13px;
}
#u6119_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6119.mouseOver {
}
#u6119_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6119.selected {
}
#u6120 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u6121 {
  position:absolute;
  left:349px;
  top:1254px;
  width:131px;
  height:16px;
}
#u6122 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u6123 {
  position:absolute;
  left:521px;
  top:1254px;
  width:84px;
  height:16px;
}
#u6124 {
  position:absolute;
  left:16px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u6123_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6125 {
  position:absolute;
  left:615px;
  top:1254px;
  width:84px;
  height:16px;
}
#u6126 {
  position:absolute;
  left:16px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u6125_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6127 {
  position:absolute;
  left:349px;
  top:1360px;
  visibility:hidden;
}
#u6127_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6127_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u6128 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u6129 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u6130 {
  position:absolute;
  left:172px;
  top:0px;
  width:84px;
  height:16px;
}
#u6131 {
  position:absolute;
  left:16px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u6130_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6132 {
  position:absolute;
  left:266px;
  top:0px;
  width:84px;
  height:16px;
}
#u6133 {
  position:absolute;
  left:16px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u6132_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6134 {
  position:absolute;
  left:782px;
  top:1300px;
  visibility:hidden;
}
#u6134_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6134_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:160px;
}
#u6135 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:160px;
}
#u6136 {
  position:absolute;
  left:2px;
  top:72px;
  width:164px;
  visibility:hidden;
  word-wrap:break-word;
}
